
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css/layout.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- Các liên kết tới các tệp CSS và JavaScript -->
</head>
<body>
    <header>
        <div class="header-top">
            <p class="phone"><i class="bi bi-telephone-fill"></i>  09234234</p>
            <p class="language">VI/EN</p>
        </div>
        <div class="header-bottom">
            <div class="header-left-bottom">
                <a href="@Url.Action("Index", "Home")"><img src="~/img/logo.png" alt="logo"></a>
            </div>
            <div class="header-mid-bottom">
                <div class="search">
                    <input type="text" id="search" placeholder="Tìm kiếm..." onclick="">
                    <button type="button" class="search-icon"><i class="bi bi-search"></i></button>
                </div>

            </div>
            <div class="header-right-bottom">
                <div class="personalArea">
                    <div class="icon-acc">
                        <a class="icon" href=""><i class="bi bi-person-fill"></i></a>
                    </div>
                    <div class="log-sign">
                        @Html.ActionLink("Đăng nhập", "Login", "Login_Signin", null, new { style = "color: black;" })/@Html.ActionLink("Đăng kí", "Login", "Login_Signin", null, new { style = "color: black;" })
                        @*<a href="@Url.Action("Login", "Login_Signin")">Đăng nhập</a>/<a href="@Url.Action("Sign", "Login_Signin")">Đăng kí</a>*@

                    </div>
                    
                </div>
                <div class="cart">
                    <a class="icon" href="@Url.Action("Index", "Home")">
                        <i class="bi bi-cart"></i>
                    </a>
                </div>


            </div>
        </div>
        <div class="menu">
            <nav class="option">
                <div class="catalog">
                    <h4 class="title">
                        <span class="title-catalog">DANH MỤC SẢN PHẨM</span>
                        <span class="icon-catalog"><i class="bi bi-list-ul"></i></span>
                    </h4>
                </div>

                <ul class="taskbar">
                    <li><a href="" style="font-size:30px"><i class="bi bi-house"></i></a></li>
                    <li><a href="">THƯƠNG HIỆU</a></li>
                    <li><a href="">KHUYẾN MÃI</a></li>
                    <li><a href="">XU HƯỚNG LÀM ĐẸP</a></li>
                    <li><a href="">TRA CỨU ĐƠN HÀNG</a></li>
                    <li><a href="">LIÊN HỆ</a></li>
                </ul>

            </nav>
        </div>
    </header>
    <section>
        <div class="body-content">
            <div class="row1">
                <div class="blockheader">
                    <h1 class="g-color-coco mb-1 mt-5 text-cation title text-center mx-auto  g-mb-50">
                        <a>Sản phẩm nổi bật</a>
                    </h1>
                </div>
                @RenderBody()
            </div>
        </div>
    </section>

</body>
</html>
